<footer class="pt-4" style="background-color: white; opacity: 85%;">
	<div class="container">
		<%= image_tag('built-on-heroku-dark.svg', class:"mx-auto", style:"width: 75%; display: block", alt:"built on heroku") %>
	</div>
</footer>